<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mansmall.mappers.mainMapper">
	<!-- 모든 상품리스트(페이지에 맞춰서)  -->
    <select id="mainList" parameterType="Criteria" resultType="ProductVO">
    	select  pdt_num, cg_code, pdt_name, pdt_price, pdt_discount, 
				pdt_company, pdt_detail, pdt_img, pdt_amount, pdt_buy, 
				pdt_date_sub, pdt_date_up
		from	(select pdt_num, cg_code, pdt_name, pdt_price, pdt_discount, 
					pdt_company, pdt_detail, pdt_img, pdt_amount, pdt_buy, 
					pdt_date_sub, pdt_date_up, row_number() over(order by pdt_num desc) p_seq
				from product_tbl)
		 where p_seq between #{rowStart} and #{rowEnd}  
    </select>
    
    <!-- 해당 카테고리의 상품 개수  -->
	<select id="mainCount" parameterType="string" resultType="int">
		select count(pdt_num)
		from product_tbl
		
	</select>

</mapper>