<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	
	<typeAliases>
		<package name="com.mansmall.domain"/>
		<package name="com.mansmall.dto"/>
		<package name="com.mansmall.util"/>
		<package name="com.mansmall.utiltwo"/>
	</typeAliases>
	
</configuration>

	